nav {
  background: var(--color-primary);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0.1rem 1.5rem hsla(var(--color-primary), 68%, 42%, 20%);
  transition: var(--transition);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.nav-logo {
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.nav-menu {
  display: flex;
  gap: 3.5rem;
}

#theme-icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Nascondere Nav menu (tablet e phone) */
@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
  .nav-container {
    justify-content: space-between;
  }
}
